* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.container {
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  padding: 40px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
 
}

p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  margin-top: 20px;
}

.file-input {
  display: none;
}

.upload-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #445A6F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.upload-btn:hover {
  background-color: #334a5e;
}

.url-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.download-link {
  font-size: 1.1rem;
  color: #445A6F;
  text-decoration: none;
  word-break: break-all;
  flex: 1;
}

.download-link:hover {
  text-decoration: underline;
}

.copy-btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background-color: #1a73e8;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #155ab1;
}
.url-message {
  margin-top: 30px;
  font-size: 1rem;
  color: #2e2e2e;
  margin-bottom: 0px;
  font-weight: 600;
}